# compiler output
a.out
vig
/vigilante
/vigctl/vigctl
/v.c
/testprogs/*/v.c
/testprogs/testsvc1sec/testsvc1sec

# user-dependant settings
.vscode

# profiles
default*.profraw
default.profdata
perf.data
perf.data.old
perf.fdata
